DB_USER = "root"
DB_PASSWORD = ""
DB_HOST = "localhost"
DB_PORT = 3306
DB_NAME = "eventori_tech_test"

CLOUDINARY_NAME = "dswgo4fdj"
CLOUDINARY_API_KEY = "396328368874177"
CLOUDINARY_API_SECRET = "hBPw8DSuPy-NQra_xGjN_XBB8DE"